/node_modules
/public/hot
/public/storage
/public/svg
/public/source/*.html
/public/layouts/admin/*.html
/public/layouts/admin/bower_components/flot
/public/layouts/admin/bower_components/flot.tooltip
/public/layouts/admin/bower_components/mocha
/public/layouts/admin/bower_components/morrisjs
/public/layouts/admin/bower_components/raphael
/storage/*.key
/storage
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
