/node_modules
/public/hot
/public/storage
/public/svg
/public/source/*.html
/storage/*.key
/storage
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
