.form-style {
    border: solid 1px #FFF;
    background: #FFF;
    color: #00A3F3;
}

.img-avatar-index {
    height: 100px;
    width: 150px;
}

.img-product {
    height: 250px;
}

.img-product-two {
    width: 25%;
}

.header-style {
    background-color: #0277b8;
}

.pay-method-one {
    display: block;
}

.pay-method-two {
    display: none;
}

.order-head {
    padding: 0px 10px;
}

.bell-style {
    margin-right: 70px;
}

#create-scroll {
height:300px;
width:100%;
overflow:auto; 
}